page:
  title: null
  pageStructure: 'cs!$/html'

require:
  paths:
    www: '../'
    app: '../zestjs.org'
    less: 'require-less/less'

  map:
    '*':
      selector: 'jquery'

# rebuildZestLayer: true

modules:
  'cs!$/zestjs.org': true

port: 8082
