page:
  pageRender: 'cs!$/html'

#environments:
#  dev:
#    staticLatency: 500
#    renderDelay: 500

require:
  paths:
    www: '../'
    site: '../zestjs.org'
    app: '../zestjs.org/sample-files'

  map:
    '*':
      selector: 'jquery'

modules: ['cs!$zest-server/core-module', 'cs!$/zestjs.org']

port: 8082
