.SimpleDialog {  
  font-family: georgia;
  font-size: 13px;
  font-style: italic;
  line-height: 20px;
  color: #555;
  
  background-color: #fff;
  margin: 50px;
  border: 1px solid #ccc;
  
  position: relative;
  padding-bottom: 50px;
}
.SimpleDialog p {
  margin: 20px;
}

.SimpleDialog .button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
