.sidebar {
  width: 300px;
  position: fixed;
  background-color: #F4F4F4;
  border-right: 1px solid #D6D6D6;
  height: 100%;
  top: 40px;
}
.content-container {
  padding-left: 340px;
}

@media screen and (max-width: 1024px), screen and (max-device-width: 1024px) {
  .sidebar {
    margin-top: 32px;
  }
}

@media screen and (max-width: 800px), screen and (max-device-width: 800px) {
  .sidebar {
    display: none;
  }
  .content-container {
    padding-left: 0;
  }
}